@media (max-width: 769px){

.button{
	padding: 10px 10px;
	margin: 10px;
	min-width: 100px;
}

.header{
	height: 60px;
	width: 100vw;
	overflow: hidden;
}
.header__logo img{
	width: 100px;
	top: -20px;
}
.status__row, .status__item{
	display: none;
}
.status__item.active{
	display: flex;
    flex-direction: row-reverse;
        align-items: center;
}
.status__item{
	font-size: 12px;
	font-weight: 400;
	width: auto;
}
.status__item.active .procent{
	width: 15px;
	height: 15px;
	border: 1px solid;
	margin: 5px;
	    background: transparent;
}
.title {
    font-size: 34px;
    line-height: 40px;
}
.intro{
	height: 230px;
}

.checkerform{
	top: -30px;
}
.checkerform{
	width: 80%;
	padding: 15px 15px;
}
.profile__input{
	padding: 0;
}


.inforow__container, .newsrow__container{
	width: 90%;
}
.inforow__container{
	flex-wrap: wrap;
}
.inforow__text{
	font-size: 26px;
    line-height: 35px;	
    margin: 0 auto;
    width: 90%;
    padding-bottom: 20px;
}
.inforow__column{
	width: 50%;
}
.inforow-item {
    margin: 10px;
    padding: 20px 15px;
}
.inforow-item__icon img {
    margin: 0 auto;
    width: 20px;
    height: 20px;
}
.inforow-item__title{
    padding: 10px 0;
}
.inforow-item__text{
	font-size: 12px;
}



.newsrow__container{
	display: block;
}
.newsrow__column {
    position: relative;
    width: 100%;
    height: 250px;
    margin-bottom: 10px;
}
.newsrow-item__title{
	font-size: 24px;
	padding: 20px 10px; 
}


/*****************************************************************/
.loginrow__container{
	display: block;
}

.loginrow__column{
	width: 100%;
	top: -30px;
	height: auto;
}
.loginrow-item {
    padding: 20px 20px;
    height: calc(100% - 40px);
}

/*****************************************************************/


.profile{
	width: 90%;
	top: -30px;
}

.profile__items {
    width: calc(100% - 20px);
    padding: 10px;
    display: block;
}

.profile__input, .profile__input.large{
	width: 80%;
	margin: 0 auto;
	padding: 10px 0;
}

.checker__container{
	line-height: 22px;
}
/*******************************************************************/
.review{
	width: 90%;
}
.review__items{
	display: flex;
	flex-wrap: wrap;
	padding: 40px 10px; 
}
.review__title{
	width: 100%;
	text-align: center;
	background: linear-gradient(270deg, #102E67 19.38%, #068859 67.47%);
    background-clip: border-box;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	color: #0B2349;
	font-size: 20px;
}
.review .row{
	margin: 20px 0 10px;
}
.review .title{
	font-size: 18px; 
	background: linear-gradient(270deg, #102E67 19.38%, #068859 67.47%);
    background-clip: border-box;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	color: #0B2349;
	line-height: 35px;
	padding-top: 20px;
}

.code-block, .activity-block, .share-block, .phone-block,
.email-block, .regist-block, .pers-block, .citiz-block,
.resid-block{ width: 100%; text-align: center;}
/******************************************************************/
.costlist{
	width: 80%;
	padding: 10px;
}
.button-block button {
    margin: 40px 10px 20px;
}

/****************************************************************/
.finalrow{
	top: -30px;
	padding: 0;
}
.finalrow .newsrow__column{
	margin: 0;
	margin-bottom: 20px;
}

.finalrow .newsrow__column{
	top: 0;
}
/*********************************************/


.footer{
height: 200px;
}
.footer .container{
	padding: 20px 0;
	flex-wrap: wrap;
}
.footer .logo{ width: 50%; }
.footer .logo img {
    width: 100px;
}

.footer .footer-info{
	padding: 10px 0; 
	width: 50%; 
}
.footer-info a{
	font-size: 14px;
	padding: 0;
	line-height: 25px;
}
.footer .footer-network{
	padding: 10px 0;
	width: 100%;
}
.foot-netw{
	justify-content: center;
}
.foot-netw span{
	width: 15px;
	height: 15px;
}
}

@media (min-width: 600px) and (max-width: 769px){
.header{
	height: 80px;
}
.header__logo img{
	width: 120px;
}
.intro{
	height: 180px;
}
.checkerform {
    height: 80px;
}
.button {
    padding: 15px 20px;
}
.inforow__column {
    width: 25%;
}

.inforow-item__title{
	font-size: 16px;
}
.newsrow__container{
	display: flex;
}
.newsrow__column{
	width: 33%;
    height: 300px;
    margin: 5px;
}
.newsrow-item__title{
	line-height: 30px;
	font-size: 20px;
}

.profile__items{
	display: flex;
}
.profile__input, .profile__input.large{
	width: 40%;
}


.finalrow .newsrow__column{
	margin: 10px;
	width: 40%;
	height: 300px;
}
.footer .logo{
	width: 30%;
}
.footer .footer-info{
	padding-top: 50px;
	width: 30%;
}
.footer .footer-network{
	padding-top: 50px;
	width: 30%;
}
}